@import "../../styles/variables.scss";

.currencies{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 0;
  div &__table{
    width: 80vw;
    height: calc(100vh - 140px);
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid rgba($color: $extra_color, $alpha: 0.1);
    border-radius: 30px;
    padding: 30px;
    backdrop-filter: blur(20px);
    background: rgba($color: $extra_color, $alpha: 0.1);
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    &_title{
      font-size: 24px;
      color: $main_color-hover;
      text-align: center;
      margin-bottom: 10px;
    }
    &_head{
      background: rgba($color: $extra_color, $alpha: 0.2);
      border: 2px solid rgba($color: $extra_color, $alpha: 0.1);
    }
  }
}

@media(max-width: 768px){
  .currencies{
    div &__table{
      width: 90vw;
      padding: 10px 0px 10px 10px;
      &_title{
        font-size: 16px;
      }
    }
  }
}