@import "../../styles/variables.scss";

.link__container {
  display: flex;
  align-items: center;
}

.link__item {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content:  space-evenly;
  padding: 10px;
  color: black;
  border: 2px solid transparent;
  border-radius: 4px;
  transition: 0.3s ease-in-out;
  text-decoration: none;
  text-transform: uppercase;
  &:hover{
    border: 2px solid $main_color;
  }
}

.active__link{
  color: white;
  background-color: $main_color;
}

