@import "../../styles/variables.scss";

.input__wrapper{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  input{
    border: 2px solid rgba($color: $extra_color, $alpha: 0.1);
    background: rgba($color: $extra_color, $alpha: 0.3);
    border-radius: 10px;
    transition: $transition;
    &:focus{
      border-color: $main_color;
    }
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button{
      -webkit-appearance: none;
      margin: 0
    }
  }
  fieldset {
    border: none;
  }
  label{
    color: $main_color-hover;
  }
  .textfield{
    width: 50%;
  }
}

@media(max-width: 768px){
  .input__wrapper{
    .textfield{
      width: 80%;
    }
  }
}

@media(max-width: 425px){
  .input__wrapper{
    .textfield{
      width: 100%;
    }
  }
}