@import "../../styles/variables.scss";

.input__wrapper{
  display: flex;
  align-items: center;
  gap: 10px;
  input{
    border: 2px solid rgba($color: $main_color, $alpha: 0.5);
    background: rgba($color: $extra_color, $alpha: 0.2);
  }
}


