@import "../../styles/variables.scss";

.select__item{
    background: none;
    border: none;
    padding: 3px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
    color: black;
    svg path {
      color: $main_color;
    }
    &:hover {
      background: rgba($color: $extra_color, $alpha: 0.2);
      svg path{
        color: $main_color-hover;
      }
    }
    &:disabled{
      opacity: 0.4;
    }

}