@import "../../styles/variables.scss";

.select__item{
    background: none;
    border: none;
    text-align: start;
    padding: 3px;
    display: flex;
    justify-content: space-between;
    &:hover {
      background: lightgray;
    }
}