@import "../../styles/variables.scss";

.dialog{
  &__header {
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
  }
  &__select{
    display: flex;
    flex-direction: column;
    max-height: 50vh;
    overflow: auto;
    padding: 10px 20px;
    &::-webkit-scrollbar {
      width: 5px; 
    }
    &::-webkit-scrollbar-thumb {
      background-color: $main_color;   
      border-radius: 10px;
    }
  }
}

@media(max-width: 660px){
  .dialog{
    &__header{
      font-size: 12px;
    }
  }
}