@import "../../styles/variables.scss" ;

.converter{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 0;
  &__fields{
    width: 80vw;
    height: calc(100vh - 140px);
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid rgba($color: $extra_color, $alpha: 0.1);
    border-radius: 30px;
    padding: 30px;
    backdrop-filter: blur(20px);
    background: rgba($color: $extra_color, $alpha: 0.1);
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    &_list{
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 10px;
      overflow: auto;
      padding-bottom: 20px;
      padding-right: 20px;
    }
  }
  ::-webkit-scrollbar {
    width: 5px; 
  }
  ::-webkit-scrollbar-thumb {
    background-color: $main_color;   
    border-radius: 10px;
  }
}

@media(max-width: 660px){
  .converter{
    &__fields{
      width: 90vw;
      padding: 30px 0px 10px 10px;
    }
  }
}