@import "../../styles/variables.scss" ;

.converter{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  &__fields{
    width: 80vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid $main_color;
    border-radius: 30px;
    padding: 20px;
  }
}